.heatmap-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.heatmap-card {
  background: white;
  width: 100%;
  height: 85vh;
  max-width: 1200px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 160px;
}

.heatmap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.heatmap-content {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  gap: 20px;
  /* margin-top: 5px; */
  margin-left: 10px;
}


.avatar-box {
  background-color: #ffe6e6;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 215px;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 23px;
}

.vertical-divider {
  height: 210px;
  background-color: #ddd;
  border: 0.2px solid black;
}

.summary-divider-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.summary-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.summary-heading {
  font-size: 20px;
  font-weight: 700;
}

.time-cards {
  display: flex;
  gap: 20px;
}

.time-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.time-icon {
  background-color: rgb(233, 174, 184);
  border-radius: 20%;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.time-value {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.summary-box {
  background-color: #fff7f0;
  border-radius: 12px;
  padding: 10px 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(245, 121, 59, 0.1);
}


.summary-time-wrapper {
  display: flex;
  gap: 15px;
}

.summary-value {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.summary-label {
  font-size: 14px;
  color: #555;
}

.modules-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.module-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.module-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  width: 120px;
  height: 145px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.time-icon {
  background-color: #F5793B;
  border-radius: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.time-value {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.time-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}